#Thu Jan 30 09:05:08 ART 2020
Nombre9=
Nombre8=
Botones=26
Nombre7=
Nombre6=X files
Tooltip19=malardo
Nombre5=
Tooltip18=NADA
Nombre4=
Tooltip17=NADA
Nombre3=
Tooltip16=NADA
Nombre2=Aplausos
Tooltip15=NADA
Nombre1=Abucheos
Tooltip14=NADA
Nombre0=
Tooltip13=NADA
Tooltip12=Musica de la clasica escena de la regadera
Tooltip11=cua cua cuuaaa
Tooltip10=NADA
ImagenW9=Imagenes\\dolar.jpg
ImagenW8=Imagenes\\Retrete.gif
ImagenW7=Imagenes\\tambores.jpeg
ImagenW6=NADA
ImagenW5=Imagenes\\vidrio roto.jpg
ImagenW4=Imagenes\\campanaBox.jpg
ImagenW3=Imagenes\\ba dum tss.png
ImagenW2=Imagenes\\Clap.png
ImagenW1=Imagenes\\dislike.png
ImagenW0=Imagenes\\vinilo-music-player_318-86034.jpg
SonidoW9=Sonidos\\sonido caja registradora.mp3
SonidoW8=Sonidos\\Retrete.mp3
SonidoW7=Sonidos\\Redoble De Tambores Efecto De Sonido-Sin CopyRight-Drum Roll.mp3
SonidoW6=Sonidos\\Illuminati (X Files) Sound Effect [HQ][Free Download].mp3
SonidoW5=Sonidos\\Efectos De Sonido \#8 _ Vidrios Rotos _ Sin Copyright.mp3
SonidoW4=Sonidos\\CAMPANA DE BOX.mp3
SonidoW3=Sonidos\\Ba Dum Tss.mp3
SonidoW2=Sonidos\\Aplausos.mp3
SonidoW1=Sonidos\\Abucheos.mp3
SonidoW0=Sonidos\\SONIDO DE EFECTO DE DISCO RAYADO ESTILO DJ 2015 EL MAS USADO.mp3
ImagenU9=./Imagenes/dolar.jpg
ImagenU8=./Imagenes/Retrete.gif
ImagenU7=./Imagenes/tambores.jpeg
ImagenU6=NADA
ImagenU5=./Imagenes/vidrio roto.jpg
ImagenU4=./Imagenes/campanaBox.jpg
ImagenU3=./Imagenes/ba dum tss.png
ImagenU2=./Imagenes/Clap.png
ImagenU1=./Imagenes/dislike.png
ImagenU0=./Imagenes/vinilo-music-player_318-86034.jpg
SonidoU9=./Sonidos/sonido caja registradora.mp3
SonidoW25=Sonidos\\chivo gritando FIXED.mp3
SonidoU8=./Sonidos/Retrete.mp3
SonidoU7=./Sonidos/Redoble De Tambores Efecto De Sonido-Sin CopyRight-Drum Roll.mp3
SonidoW24=Sonidos\\chivo gritando FIXED.mp3
SonidoU6=./Sonidos/Illuminati (X Files) Sound Effect [HQ][Free Download].mp3
SonidoW23=Sonidos\\Efectos De Sonido \#8 _ Vidrios Rotos _ Sin Copyright.mp3
SonidoU5=./Sonidos/Efectos De Sonido \#8 _ Vidrios Rotos _ Sin Copyright.mp3
SonidoW22=Sonidos\\Ba Dum Tss.mp3
SonidoU4=./Sonidos/CAMPANA DE BOX.mp3
SonidoW21=Sonidos\\Abucheos.mp3
SonidoU3=./Sonidos/Ba Dum Tss.mp3
SonidoW20=Sonidos\\Aplausos.mp3
SonidoU2=./Sonidos/Aplausos.mp3
SonidoU25=./Sonidos/chivo gritando FIXED.mp3
SonidoU1=./Sonidos/Abucheos.mp3
SonidoU24=./Sonidos/chivo gritando FIXED.mp3
SonidoU0=./Sonidos/SONIDO DE EFECTO DE DISCO RAYADO ESTILO DJ 2015 EL MAS USADO.mp3
SonidoU23=./Sonidos/Efectos De Sonido \#8 _ Vidrios Rotos _ Sin Copyright.mp3
SonidoU22=./Sonidos/Ba Dum Tss.mp3
SonidoU21=./Sonidos/Abucheos.mp3
Tooltip9=Sonido de caja registradora
SonidoU20=./Sonidos/Aplausos.mp3
Tooltip8=NADA
Tooltip7=Redoble de tambores
Tooltip6=NADA
Tooltip5=Vidrios rotos
Tooltip4=NADA
Tooltip3=NADA
Tooltip2=NADA
Tooltip1=NADA
Tooltip0=NADA
SonidoW19=Sonidos\\Aplausos.mp3
SonidoW18=Sonidos\\Silbido Sexy FIXED.mp3
SonidoW17=Sonidos\\chivo gritando FIXED.mp3
SonidoW16=Sonidos\\Claxon de Micro Del D.F ByGtagamermester\! FIXED.mp3
SonidoW15=Sonidos\\Sad Violin - Air Horn Sound Effect (MLG) CORTO.mp3
SonidoW14=Sonidos\\La cucaracha horn test for GTA SA Sound Effect.mp3
SonidoW13=Sonidos\\EFECTOS DE SONIDO    Cerdo llorando.mp3
SonidoU19=./Sonidos/Aplausos.mp3
SonidoW12=Sonidos\\Terror Clasico.mp3
SonidoU18=./Sonidos/Silbido Sexy FIXED.mp3
SonidoW11=Sonidos\\Sound Fail.mp3
SonidoU17=./Sonidos/chivo gritando FIXED.mp3
SonidoW10=Sonidos\\Sonido de un grillo cantando (Efecto de sonido).mp3
SonidoU16=./Sonidos/Claxon de Micro Del D.F ByGtagamermester\! FIXED.mp3
SonidoU15=./Sonidos/Sad Violin - Air Horn Sound Effect (MLG) CORTO.mp3
SonidoU14=./Sonidos/La cucaracha horn test for GTA SA Sound Effect.mp3
SonidoU13=./Sonidos/EFECTOS DE SONIDO    Cerdo llorando.mp3
SonidoU12=./Sonidos/Terror Clasico.mp3
SonidoU11=./Sonidos/Sound Fail.mp3
SonidoU10=./Sonidos/Sonido de un grillo cantando (Efecto de sonido).mp3
Nombre25=aasdsa
Nombre24=dou
Nombre23=sfd
Nombre22=asdasd2
Nombre21=dasd221213
Nombre20=Rokito
Nombre19=Rokito
Nombre18=Silbido sexy
Nombre17=
Nombre16=Claxon DF
Nombre15=
Nombre14=CUCARACHA
Nombre13=CERDO23
Nombre12=
Nombre11=
Nombre10=Mal chiste
ImagenW25=NADA
ImagenW24=NADA
ImagenW23=NADA
ImagenW22=NADA
ImagenW21=NADA
ImagenW20=NADA
ImagenU25=NADA
ImagenU24=NADA
ImagenU23=NADA
ImagenU22=NADA
ImagenU21=NADA
ImagenU20=NADA
ImagenW19=NADA
ImagenW18=NADA
ImagenW17=Imagenes\\chivo gritando FIXED.jpg
ImagenW16=NADA
ImagenW15=Imagenes\\MLG air horn.jpg
ImagenW14=NADA
ImagenW13=NADA
ImagenU19=NADA
ImagenW12=Imagenes\\Horror_icon-icons.com_54174.png
ImagenU18=NADA
ImagenW11=Imagenes\\fail.png
ImagenU17=./Imagenes/chivo gritando FIXED.jpg
ImagenW10=Imagenes\\grillo.jpeg
ImagenU16=NADA
ImagenU15=./Imagenes/MLG air horn.jpg
ImagenU14=NADA
ImagenU13=NADA
ImagenU12=./Imagenes/Horror_icon-icons.com_54174.png
ImagenU11=./Imagenes/fail.png
ImagenU10=./Imagenes/grillo.jpeg
Tooltip25=NADA
Tooltip24=NADA
Tooltip23=NADA
Tooltip22=NADA
Tooltip21=NADA
Tooltip20=malardo
