#Thu Jan 23 14:19:52 ART 2020
SonidoW9=Sonidos\\sonido caja registradora.mp3
SonidoW8=Sonidos\\Retrete.mp3
SonidoW7=Sonidos\\Redoble De Tambores Efecto De Sonido-Sin CopyRight-Drum Roll.mp3
SonidoW6=Sonidos\\Illuminati (X Files) Sound Effect [HQ][Free Download].mp3
SonidoW5=Sonidos\\Efectos De Sonido \#8 _ Vidrios Rotos _ Sin Copyright.mp3
SonidoW4=Sonidos\\CAMPANA DE BOX.mp3
SonidoW3=Sonidos\\Ba Dum Tss.mp3
SonidoW2=Sonidos\\Aplausos.mp3
SonidoW1=Sonidos\\Abucheos.mp3
SonidoW0=Sonidos\\SONIDO DE EFECTO DE DISCO RAYADO ESTILO DJ 2015 EL MAS USADO.mp3
ImagenW9=Imagenes\\dolar.jpg
ImagenW8=Imagenes\\Retrete.gif
ImagenW7=Imagenes\\tambores.jpeg
ImagenW6=NADA
ImagenW5=Imagenes\\vidrio roto.jpg
ImagenW4=Imagenes\\campanaBox.jpg
ImagenW3=Imagenes\\ba dum tss.png
ImagenW2=Imagenes\\Clap.png
Botones=20
ImagenW1=Imagenes\\dislike.png
ImagenW0=Imagenes\\vinilo-music-player_318-86034.jpg
Nombre9=
Nombre8=
Nombre7=
Nombre6=X files
Nombre5=
Nombre4=
Nombre3=
Nombre2=Aplausos
Nombre1=Abucheos
Nombre0=
Tooltip19=asd
SonidoU9=./Sonidos/sonido caja registradora.mp3
Tooltip18=NADA
SonidoU8=./Sonidos/Retrete.mp3
Tooltip17=NADA
SonidoU7=./Sonidos/Redoble De Tambores Efecto De Sonido-Sin CopyRight-Drum Roll.mp3
Tooltip16=NADA
SonidoU6=./Sonidos/Illuminati (X Files) Sound Effect [HQ][Free Download].mp3
Tooltip15=NADA
SonidoU5=./Sonidos/Efectos De Sonido \#8 _ Vidrios Rotos _ Sin Copyright.mp3
Tooltip14=NADA
SonidoU4=./Sonidos/CAMPANA DE BOX.mp3
Tooltip13=NADA
SonidoU3=./Sonidos/Ba Dum Tss.mp3
Tooltip12=Musica de la clasica escena de la regadera
SonidoU2=./Sonidos/Aplausos.mp3
Tooltip11=cua cua cuuaaa
SonidoU1=./Sonidos/Abucheos.mp3
Tooltip10=NADA
SonidoU0=./Sonidos/SONIDO DE EFECTO DE DISCO RAYADO ESTILO DJ 2015 EL MAS USADO.mp3
ImagenU9=./Imagenes/dolar.jpg
ImagenU8=./Imagenes/Retrete.gif
ImagenU7=./Imagenes/tambores.jpeg
ImagenU6=NADA
ImagenU5=./Imagenes/vidrio roto.jpg
ImagenU4=./Imagenes/campanaBox.jpg
ImagenU3=./Imagenes/ba dum tss.png
ImagenU2=./Imagenes/Clap.png
SonidoW19=Sonidos\\tiro.wav
ImagenU1=./Imagenes/dislike.png
SonidoW18=Sonidos\\Silbido Sexy FIXED.mp3
ImagenU0=./Imagenes/vinilo-music-player_318-86034.jpg
SonidoW17=Sonidos\\chivo gritando FIXED.mp3
SonidoW16=Sonidos\\Claxon de Micro Del D.F ByGtagamermester\! FIXED.mp3
SonidoW15=Sonidos\\Sad Violin - Air Horn Sound Effect (MLG) CORTO.mp3
SonidoW14=Sonidos\\La cucaracha horn test for GTA SA Sound Effect.mp3
SonidoW13=Sonidos\\EFECTOS DE SONIDO    Cerdo llorando.mp3
SonidoW12=Sonidos\\Terror Clasico.mp3
SonidoW11=Sonidos\\Sound Fail.mp3
SonidoW10=Sonidos\\Sonido de un grillo cantando (Efecto de sonido).mp3
SonidoU19=./Sonidos/tiro.wav
SonidoU18=./Sonidos/Silbido Sexy FIXED.mp3
SonidoU17=./Sonidos/chivo gritando FIXED.mp3
SonidoU16=./Sonidos/Claxon de Micro Del D.F ByGtagamermester\! FIXED.mp3
SonidoU15=./Sonidos/Sad Violin - Air Horn Sound Effect (MLG) CORTO.mp3
SonidoU14=./Sonidos/La cucaracha horn test for GTA SA Sound Effect.mp3
SonidoU13=./Sonidos/EFECTOS DE SONIDO    Cerdo llorando.mp3
SonidoU12=./Sonidos/Terror Clasico.mp3
SonidoU11=./Sonidos/Sound Fail.mp3
SonidoU10=./Sonidos/Sonido de un grillo cantando (Efecto de sonido).mp3
Tooltip9=Sonido de caja registradora
Tooltip8=NADA
Tooltip7=Redoble de tambores
Tooltip6=NADA
Tooltip5=Vidrios rotos
Tooltip4=NADA
Tooltip3=NADA
Tooltip2=NADA
Tooltip1=NADA
Tooltip0=NADA
Nombre19=asdas
ImagenW19=NADA
Nombre18=Silbido sexy
ImagenW18=NADA
Nombre17=
ImagenW17=Imagenes\\chivo gritando FIXED.jpg
Nombre16=Claxon DF
ImagenW16=NADA
Nombre15=
ImagenW15=Imagenes\\MLG air horn.jpg
Nombre14=CUCARACHA
ImagenW14=NADA
Nombre13=CERDO
ImagenW13=NADA
Nombre12=
ImagenW12=Imagenes\\Horror_icon-icons.com_54174.png
Nombre11=
ImagenW11=Imagenes\\fail.png
Nombre10=Mal chiste
ImagenW10=Imagenes\\grillo.jpeg
ImagenU19=NADA
ImagenU18=NADA
ImagenU17=./Imagenes/chivo gritando FIXED.jpg
ImagenU16=NADA
ImagenU15=./Imagenes/MLG air horn.jpg
ImagenU14=NADA
ImagenU13=NADA
ImagenU12=./Imagenes/Horror_icon-icons.com_54174.png
ImagenU11=./Imagenes/fail.png
ImagenU10=./Imagenes/grillo.jpeg
